.instruction {
    padding-top: 0.6rem;
}

.instruction__button {
    margin-left: 2.6rem;
    width: 100%;
    max-width: 14.8rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 100ms ease-in;
}

.instruction__button:hover {
    opacity: 0.8;
}